<nav class="navbar navbar-expand-lg">
  <div class="container-fluid" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li>
        <a class="navbar-brand navItem" [routerLink]="['/']">Actividad 14 consumo de api</a>
      </li>
      <li class="nav-item active">
        <a class="navItem" [routerLink]="['/posts']"> Publicaciones </a>
      </li>
      <li class="nav-item">
        <a class="nav-link navItem" [routerLink]="['/users']"> Usuarios </a>
      </li>
      <li class="nav-item">
        <a class="nav-link navItem" [routerLink]="['/photos']"> Fotos </a>
      </li>
    </ul>
  </div>
</nav>
