<app-nav-bar></app-nav-bar>
<div class="container-fluid">
  <div class="flex-xl-nowrap">
    <h2>Bienvenido a la actividad 14</h2>
    <h4>Porfavor navega en cualquiera de las siguientes paginas</h4>
    <ul>
      <li>
        <a class="navItem list-item" href="/posts">
          Publicaciones
        </a>
      </li>
      <li>
        <a class="navItem list-item" href="/users"> Usuarios </a>
      </li>
      <li>
        <a class="navItem list-item" href="/photos"> Fotos </a>
      </li>
    </ul>
  </div>
</div>
